<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "All About Me", about_me_path %></div>
  <div><%= link_to "My Contact Information", contact_path %></div>
  <div><%= link_to "My Blog", blogs_path %></div>
  <div><%= link_to "My Portfolio", portfolios_path %></div>
</div>